<.header>
  New Cover image
  <:subtitle>Use this form to manage cover_image records in your database.</:subtitle>
</.header>

<.cover_image_form changeset={@changeset} action={~p"/coverimages"} />

<.back navigate={~p"/coverimages"}>Back to coverimages</.back>
